html { overflow-x:hidden; }
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}

.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}

.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}

[v-cloak] {
  display: none;
}

.grid-btn{
	margin-bottom:12px;

}
.grid-btn .btn{
	margin-right:10px;

}
.grid-btn .btn2{
    margin-left: 15px;
    float: left;
}
.pointer{cursor: pointer;}

.ml-10 { margin-left:0 !important; }
@media (min-width: 768px) {
	.ml-10 { margin-left:10px !important; }
	.col-sm-10 {width: 70%;padding-left: 0px;}
	.col-sm-2 {width: 24%;}
	.col-sm-4 {width: 35%;}
	.col-sm-5 {width: 46%;}
}
tbody > tr > th {font-weight: normal; }
.panel .table { margin:0 0; }
.panel .pagination { margin:0; }
.panel-default>.panel-heading {background-color: #f5f5f5;}
.row{
	border-top: 1px solid #ddd;
	margin:0;
	padding:20px 2px 0px 2px;
}
.col-xs-6{padding-left: 0px;padding-right: 0px;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
	width:550px;padding-top:20px;
}

.ctc-form-control{
	/* display: block; */
    /* width: 100%; */
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dataCountcls{
	width: 90%;
	margin-top: 10px;
	text-align: center;
}
.dataCountcls tr td{
	height: 35px;
}
.boldLabel{
	font-size: 15px;
	font-weight: bold;
}
.grid-btn .input-inline{
    display: inline-block;
    width: 36%;
}

#ajaxForm{
    /*display: inline-block;*/
    /*width: 50%;*/
    /*float: left;*/
}

.grid-btn .input-father{
    /*display: inline-block;*/
    width: 56%;
    float: left;
    margin-left: 7%;
    /*float: none;*/
    /*margin-top: -34px;*/
}
.grid-btn .query_btn{
    margin-top: -1px;
    /*width: 10%;*/
}
.motai {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10000000;
    text-align: center
}
.title_box{
    width: 300px;
    height: 150px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px
}
.title_box p{
    color: #333333;
    margin-top: 13%;
    margin-bottom: 10%;
}
.title_box button{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    background: #2f8ded;
    color: white;
    cursor: pointer;
}
.file_input{
    /*width: 30%;*/
}
.file_father{
    width: 20%;
    float: left;
}
.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height:auto;
    vertical-align:center;
    word-break:break-all;
    padding-top: 15px;
    padding-bottom: 15px;
}


