<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<div class="form-group col-sm-4">
                <input type="text" class="ctc-form-control" placeholder="手机号" id="phoneNo">
                	<select class="ctc-form-control"  id="vcode" >
					<option value="zc">注册验证码</option>
					<option value="dl">登录验证码</option>
					<option value="tx">提现验证码</option>
				</select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/ctc/customerverifycode.js?_${.now?long}"></script>
</body>
</html>