<!DOCTYPE html>
<html>
<head>
    <title>钱包统计表</title>
		<#include "/header.html">
</head>
<body>
<!-- 担保业务流程统计数据 -->
<div id="rrapp" v-cloak>
    <div v-show="showList">
       <div class="grid-btn">
			<div class="form-group col-sm-4">
                <input type="text" class="ctc-form-control" placeholder="开始日期" id="beginDateId">
                <input type="text" class="ctc-form-control" placeholder="结束日期" id="endDateId">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
        </div>
        
       
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>


<script src="${request.contextPath}/statics/js/modules/ctc/dbdatacount.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/test/ctcdate.js"></script>
</body>
</html>