<!DOCTYPE html>
<html>
<head>
    <title>钱包用户表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<div class="form-group col-sm-6">
                <input type="text" class="ctc-form-control" placeholder="开始日期" id="beginDateId">
                <input type="text" class="ctc-form-control" placeholder="结束日期" id="endDateId">
                <input type="text" class="ctc-form-control" v-model="q.walletAddress" placeholder="钱包地址" id="walletAddressId">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
        </div>
       
        <table id="jqGrid"></table>
         <div style="text-align:left">
        	<span id="wallet">累计新增钱包  :0</span>
       		<span id="addr">累计新增钱包地址 :0</span>
        </div>
        <div id="jqGridPager"></div>
    </div>
</div>


<script src="${request.contextPath}/statics/js/modules/ctc/wallet.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/test/ctcdate.js"></script>

</body>
</html>