<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:sysautoreply:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;同步</a>
			</#if>
			<#if shiro.hasPermission("sys:sysautoreply:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:sysautoreply:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">标题名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysAutoReply.name" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">媒体ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysAutoReply.mediaId" placeholder="媒体ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">URL</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysAutoReply.url" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">关键字</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="sysAutoReply.keyword" placeholder="关键字"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">类型</div>
                        <div class="col-sm-10">
                            <select class="ctc-form-control" v-model="sysAutoReply.type">
                                <option value="0">文章</option>
                                <option value="1">图片</option>
                            </select>

                        </div>
                    </div>
											                    <div class="form-group">
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/sysautoreply.js?_${.now?long}"></script>
</body>
</html>